.body-container{
    background-color: lightgray;
    /* display: inline-block; */
}
.try-ext-css {
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
}
/* challenge 2 */
.odd-number {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightpink;
    color: black;
}
#number-2 {
    color: blue;
    font-size: 36px;
}
#number-4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
.adjust-font-size {
    font-size: 24px;
}
/* challenge 3 */
.click-me-btn, .no-click-me-btn {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.click-me-btn {
    background-color: black;
    color: white;
    font-weight: bold;
}
.no-click-me-btn {
    background-color: yellow;
}
/* challeng-4 */
.picture.proportioned {
    width: 300px;
    height: auto;
}
.picture.distorted {
    width: 200px;
    height: 400px;
}
/* challenge-5 */
.yellow-red p {
    font-size: 20px;
    background-color: yellow;
    color: red;
    text-align: center;
}
.no-style p {
    font-size: 16px;
    background-color: white;
    color: black;
    text-align: left;
}

/* Margin and padding practices */
.container-margin-padding-challenge {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .one {
    background: pink;
    border: 3px solid blue;
    /* CHANGE ME */
    padding: 30px;
    margin: 10px;
  }
  
  .two {
    background: lightblue;
    border: 3px solid purple;
    /* CHANGE ME */
    margin-bottom: 30px;
  }
  
  .three {
    background: peachpuff;
    border: 3px solid brown;
    width: 200px;
    /* CHANGE ME */
    padding: 30px;
    /* margin-left: 335px; */
    margin-left: auto;
  }

  /* Margin and Padding #2 */
.card {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-head {
    font-weight: bold;
    
}
.card-desc {
    
}
.card-btn {
    padding-left: 33%;
    padding-right: 33%;
}
.card-head, .card-desc, .card-btn {
    background-color: lightskyblue;
} 