.try-ext-css {
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
}
/* challenge 2 */
.odd-number {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightpink;
    color: black;
}
#number-2 {
    color: blue;
    font-size: 36px;
}
#number-4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
.adjust-font-size {
    font-size: 24px;
}
/* challenge 3 */
.click-me-btn, .no-click-me-btn {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.click-me-btn {
    background-color: black;
    color: white;
    font-weight: bold;
}
.no-click-me-btn {
    background-color: yellow;
}